/* app css stylesheet */

body {background:#E9E9E9;}
.navbar-default {background: #287199; color:#efefef; border-color:#F3F7E6;}
.navbar-default .navbar-brand {color:#efefef;}
.navbar-default .navbar-brand:hover {color:#F3F7E6;}
.containcolors {background-color: #fefefe;
border: 1px solid #DADADA;}

.jumbotron {
  background: url(/img/jumbo-bg.png) #fefefe center no-repeat;
  margin-top: -20px;
  min-height: 283px;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.caption-container {
	position:relative;
	padding:15px;
}

.caption-capsul {text-align: center;}

.swipe {
	margin: 20px;
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.thecaption {
border: 1px solid #c2c2c2;
padding:10px;
}

#slider .row {
	margin:0;
}

span.badge.pull-right {
  display: block;
width: 100%;
padding: 3px;
font-size: 20px;
margin-bottom: 11px;
}

.caption-card {
  background:#fefefe;
  border:1px solid #c9c9c9;
  margin-bottom: 20px;
}

.caption-card h2 {text-align: center;padding-top: 5px;}

.caption-card img {
  border-bottom: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
}

.card-info {padding-left:20px;}
.card-button {padding-right:20px;margin-bottom:20px;}

nav {font-family: 'Frijole', cursive;}
.center {text-align: center;}
.center-nav {
  text-align: center;
  color: #fefefe;
  font-size: 2.2em;
}

a.center-nav:hover {
  color:#000000;
  text-decoration: none;
}