/* app css stylesheet */

body {background:#EAEFF3;}
.navbar-default {background: #2C5368; color:#efefef; border-color:#F3F7E6;}
.navbar-default .navbar-brand {color:#efefef;}
.navbar-default .navbar-brand:hover {color:#F3F7E6;}
.containcolors {background-color: #fefefe;
border: 1px solid #DADADA;}

.jumbotron {
  background: url(/img/jumbo-bg.png) #fefefe center no-repeat;
  margin-top: -20px;
  min-height: 283px;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.small-capt-img {max-width:200px; border-radius: 50%;}

.captoin-capsul {text-align: center;}