<div class="container">
	<div class="caption-card">
	<img class="img-responsive" ng-src="/img/caption-img/{{currentPage}}.png" />
	<div class="row">
	  <div class="col-sm-12">
	    <div class="input-group">
	      <input placeholder="Enter caption here..." type="text" class="form-control" ng-Model="theCaption">
	      <div class="input-group-btn">
	        <button ng-Click="AC(theCaption, currentPage)" type="button" class="btn btn-default">Add Caption <span class="glyphicon glyphicon-plus"></span></button>
	      </div><!-- /btn-group -->
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div>	


<!-- 

	<div id='slider' class='swipe'>
	  
	  <div class='swipe-wrap'>
	<div><div> -->
	    <div class="thecaption" ng-repeat="caption in capSet | orderBy:sortMe():true">

	    	<div class="row">
				<div class="col-xs-8">
					{{caption.value.title}}
				</div>
				<div class="col-xs-4">
					<span class="badge pull-right">Score: {{caption.value.plus}}</span>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-8"></div>
				<div class="col-xs-2">
					<button ng-click="captionScore(caption.value._id, 'add')" type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-up"></span></button>
				</div>

				<div class="col-xs-2">
					<button ng-click="captionScore(caption.value._id, 'minus')" type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-down"></span></button>
				</div>
			</div>

		</div>

<!-- 	  </div>
	</div> -->

	</div>
</div>
