<div class="container">
	<h1>Current page is {{currentPage}}</h1>
	<img class="img-responsive" ng-src="/img/caption-img/{{currentPage}}.png" />
	<br />
	<div class="row">
	  <div class="col-lg-12">
	    <div class="input-group">
	      <input type="text" class="form-control" ng-Model="theCaption">
	      <div class="input-group-btn">
	        <button ng-Click="AC(theCaption, currentPage)" type="button" class="btn btn-default">Add Caption <span class="glyphicon glyphicon-plus"></span></button>
	      </div><!-- /btn-group -->
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div>
	<br />
	<div class="row">
		<div id='slider' class='swipe'>
		  <div class='swipe-wrap'>
		    <div ng-repeat="caption in capSet">
		    	<div class="row">
					<div class="col-xs-12 panel">{{caption.value.title}}</div>
				</div>
				<div class="row">
					

					<div class="col-xs-6">
						<button type="button" class="btn btn-primary btn-lg btn-block">{{caption.value.minus}} <span class="glyphicon glyphicon-thumbs-up"></span></button>
					</div>
					<div class="col-xs-6">
						<button type="button" class="btn btn-default btn-lg btn-block">{{caption.value.plus}} <span class="glyphicon glyphicon-thumbs-down"></span></button>
					</div>
				</div>
			</div>
		  </div>
		</div>
	<!-- 	<div ng-repeat="caption in capSet">
			<div class="col-xs-8">{{caption.value.title}}</div>
			<div class="col-xs-2">{{caption.value.plus}} <span class="glyphicon glyphicon-thumbs-up"></span></div>
			<div class="col-xs-2">{{caption.value.minus}} <span class="glyphicon glyphicon-thumbs-down"></span></div>
		</div>  -->
		
	</div>

	
</div>

<!--  Anguluar UI Stuff
<div class="container containcolors">
<div ng-controller="AlertDemoCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <button class='btn' ng-click="addAlert()">Add Alert</button>
</div>
</div>
 -->