<div class="jumbotron">

</div>

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-4 captoin-capsule" ng-repeat="captionItem in captions">
			<h2>{{captionItem.id}}</h2>
			<a href="#/caption/{{captionItem.id}}">
				<img class="small-capt-img" ng-src="/img/caption-img/{{captionItem.img}}" />
			</a>
		</div>
	</div>
	
</div>

<!--  Anguluar UI Stuff
<div class="container containcolors">
<div ng-controller="AlertDemoCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <button class='btn' ng-click="addAlert()">Add Alert</button>
</div>
</div>
 -->